<%= link_to '<< Back to List', {action: :index} %>
<div>
  <h2>Create a New User</h2>
  <%= form_for :user, :url => {action: :create} do |f| %>
      <%= render(partial: 'form', locals: {:f => f} ) %>
      <div>
        <%= submit_tag 'Create User' %>
      </div>
  <% end %>
</div>